
.about {
    padding: 100px 80px;
    background-color: #0a2750;
    color: #fff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
  }
  
  .about__title {
    line-height: 30px;
    max-width: 254px;
    position: relative;
    z-index: 2;
    margin: 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    left: 80px;
    top: 100px;
  }
  
  .about__content {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    max-width: 555px;
    margin: auto;
    position: relative;
    z-index: 3;
    top: 119px;
    margin-right: 80px;
    margin-bottom: 173px;
  }
  
  .about__paragraph {
    padding-bottom: 32px;
    margin: 0;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
  
  .about__circle {
    background-color: #2f80ed;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
  }
  
  .about__circle_animation_blurred {
    animation: pulse 1.3s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
    }
  }