.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  display: flex;
  box-sizing: border-box;
  padding-top: 60px;
  color: white;
  flex-direction: column;
 
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  align-items: flex-start;
}

.footer__column_social {
  margin-left: 50px;
}

.footer__logo {
  margin-left: 80px;
}

.footer__social-media {
  margin-left: auto;
  margin-right: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* margin-left: 10px; */
}

.footer__list-item:last-child {
  margin-top: 16px;
  margin-bottom: 0;
}


.footer__social-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  height: 10px;
  width: 10px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 10px;
}

.footer__copyright {
  margin-top: 108px;
  margin-bottom: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 80px;
}
