.header {
  height: 100vh;
  min-height: 720px;
  padding: 30px 38px 40px 80px;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.nav__links {
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
  padding-right: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
  transition-duration: 0.5s;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  top: 140px;
  left: 90px;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", Times New Roman, serif;
  color: #2f80ed;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  margin: 80px 0 0;
}

.header__title-span-accent::after {
  content: "\a";
}

.header__description {
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0 0;
  top: 500px;
  left: 90px;
  z-index: 1;
  max-width: 650px;
  padding-bottom: 60px;
}

.header__image {
  max-width: 636px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-weight: 500;
  width: 100%;
  display: flex;
  padding-left: 8px;
  padding-right: 80px;
  justify-content: space-between;
  box-sizing: border-box;
  color: #838383;
  flex-grow: 1;
  align-items: center;
}

.header__footer-hours {
  margin: 0;
}

.header__address {
  color: #838383;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
